{% extends 'customer/base.html' %}

{% block content %}
<div class="bg-image"
style="background-image: url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80');
      height: 100vh">
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <h1 class="text-light font-weight-bold">About Us!</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
                <p class="text-dark bg-light font-weight-bold" >
                    India is a land of rich history and diverse cultures. Indian food reflects a perfect blend of this diversity and cultural influences. We at Hindustani Darbar create delicious Indian food with authentic flavor, offering you the best of South and North Indian cuisine, a cuisine that has inspired the Culinary world.Hindustani Darbar isn’t just about food, it is about our family and traditions.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
