{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">

                     <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>Starters</h1>
                        </div>
                    </div>
                    {% for starter in starter %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ starter.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ starter.pk }}">
                                    <label class="form-check-label">{{ starter.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">₹{{ starter.price }}</p>
                            </div>
                            <p>{{ starter.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>Indian Delicacies</h1>
                        </div>
                    </div>

                {% for subji in Indian_Delicacies %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ subji.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ subji.pk }}">
                                    <label class="form-check-label">{{ subji.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">₹{{ subji.price }}</p>
                            </div>
                            <p>{{ subji.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>Roti and Naan</h1>
                        </div>
                    </div>

                {% for roti in Roti_naan %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ roti.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ roti.pk }}">
                                    <label class="form-check-label">{{ roti.name }}</label>
                                </div>
                                <p style="text-align-right">
                                    <p class="font-weight-bold pl-5 ">₹{{ roti.price }}</p>
                                </p>
                            </div>
                            <p>{{ roti.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5"> 
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>South Indian</h1>
                        </div>
                    </div>

                {% for south_indian in South_Indian %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ south_indian.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ south_indian.pk }}">
                                    <label class="form-check-label">{{ south_indian.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">₹{{ south_indian.price }}</p>
                            </div>
                            <p>{{ south_indian.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>Rice</h1>
                        </div>
                    </div>
                {% for rice in Rice %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ rice.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ rice.pk }}">
                                    <label class="form-check-label">{{ rice.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">₹{{ rice.price }}</p>
                            </div>
                            <p>{{ rice.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>Desserts</h1>
                        </div>
                    </div>

                <div class="pt-5">
                    {% for dessert in desserts %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                    <label class="form-check-label">{{ dessert.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">₹{{ dessert.price }}</p>
                            </div>
                            <p>{{ dessert.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                            <h1>Beverages</h1>
                        </div>
                    </div>

                <div class="pt-5">
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">₹{{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
            
                <div class="form-group pt - 3">
                    <label for = "name">Full Name </label>
                    <input required class="form-control" type = "text" placeholder="Your Name" name="name" />
                </div>

                <div class="form-group pt - 3">
                    <label for = "name">Email Address </label>
                    <input required class="form-control" type = "text" placeholder="example@company.com" name="email" />
                </div>

                <div class="form-group pt - 3">
                    <label for = "name">Street </label>
                    <input required class="form-control" type = "text" placeholder="1234 main street" name="street" />
                </div>

                <div class ="row">
                    <div class = "col-md-4 col-sm-12 ">

                        <div class="form-group pt - 3">
                            <label for = "name">City </label>
                            <input required class="form-control" type = "text" placeholder="Mumbai" name="city" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt - 3">
                            <label for = "name">State </label>
                            <input required class="form-control" type = "text" placeholder="Maharashtra" name="state" />
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt - 3">
                            <label for = "name">Zip Code </label>
                            <input required class="form-control" type = "text" placeholder="400001" name="zip" />
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                  Submit Order!
                </button>
                <!--<button class="btn btn-dark mt-5">Place Order!</button>-->
                
                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Submit Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                     
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                        <button type="submit" class="btn btn-dark">Place Order</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}
